#contact::before {
    @include section-divider;
    background-color: $misty-rose;
    background: $misty-rose-bg;
}

#contact {
    position: relative;
    background-color: $misty-rose;
    background: $misty-rose-bg;
    padding: 5em 0 3em 0;

    a {
        text-decoration: none;

        i {
            @include small-contact-icons;
            font-size: 1.75em;
        }
    }

    .email {
        font-size: 1.35em;
        font-weight: 700;
        padding: 2em 0 2em 0;
    }

    .profile-links {
        margin: 0 auto;
        width: 12.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (min-width: 425px) {
            width: 18.75em;
        }
    }
    
}
