@import "variables";

#contact {
    padding: 2em 0 4em 0;

    & h2 {
        padding: .75em;
    }

    .profile-links {
        margin: 0 auto;
        max-width: 300px;
        display: flex;
        justify-content: space-between;
    }

    .contact-button {
        color: $warm-gray;
        background: $coral;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        @include coral-button-hover;
    }
}