#contact::before {
    @include section-divider;
    background-color: $misty-rose;
    background: $misty-rose-bg;
}

#contact {
    position: relative;
    background-color: $misty-rose;
    background: $misty-rose-bg;
    padding: 5em 0 3em 0;

    a {
        text-decoration: none;

        i {
            @include small-contact-icons;
            font-size: 1.75em;
        }
    }

    .email {
        padding: 1em 0 1em 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 576px) {
            flex-direction: row;
        }

        p {
            padding: 0.5em 0 .65em 1em;

            @media screen and (min-width: 576px) {
                font-size: 1.5em;
            }
        }
    }

    .profile-links {
        width: 10em;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
