.frontend-mentor-title {
    margin: 1em;
}

.project-grid {

    margin-bottom: 2em;

    @media screen and (min-width: 992px) {
        display: grid;
        grid-template: auto / 1fr 1fr;
    }

    @media screen and (min-width: 1200px) {
        grid-template: auto / 1fr 1fr 1fr;
    }
    
}

.frontend-mentor {
    margin: 0.5em auto 0.5em auto;
    width: 80%;
    max-width: 23.125em;
    padding: .75em;

    @media screen and (min-width: 768px) {
        display: block;
    }
}