#hero {
    background-color: $misty-rose;
    background: $misty-rose-bg;
    padding: 1.75em;

    @media screen and (min-width: 768px) {
        padding: 4em;
    }

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.25em;
        padding: .5em 0 3em 0;
    }
}

#about::before {
    content: '';
    display: block;
    background: $puce-bg;
    border-radius: 100%;
    border-top: 3px solid hsla(355, 12, 28, .15);
    height: 12em;
    width: 12em;
    position: absolute;
    top: -3.5em;
    left: calc(50% - 6em);

    @media screen and (min-width: 768px) {
        width: 16.6em;
        height: 16.6em;
        left: calc(50% - 8.3em)
    }
}

#about {
    background-color: $puce;
    background: $puce-bg;
    position: relative;

    img {
        border-radius: 50%;
        border: 5px solid $laurel-green;
        width: 10.4em;
        position: absolute;
        top: -2.75em;
        left: calc(50% - 5.2em);
        
        @media screen and (min-width: 768px) {
            width: 15em;
            left: calc(50% - 7.5em);
        }
    }
    
    p {
        text-align: justify;
        width: 80%;
        padding: 8.75em 0 3.5em 0;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            font-size: 1.5em;
            width: 60%;
            padding: 9.75em 0 3.5em 0;
        }

        @media screen and (min-width: 1200px) {
            width: 50%;
        }
    }
}
