@mixin section-divider {
    content: '';
    display: block;
    border-radius: 100%;
    border-top: 3px solid hsla(355, 12, 28, .15);
    height: 7em;
    width: 7em;
    position: absolute;
    top: -2.5em;
    left: calc(50% - 3.5em);
}

@mixin divider-icon-circles {
    color: $laurel-green;
    background: $russian-green;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2em;
    left: calc(50% - 3em);
}

@mixin small-contact-icons {
    @include divider-icon-circles;
    height: 2.25em;
    width: 2.25em;
    border-radius: 50%;
    position: static;
    display: inline-flex;
    transition: color .2s linear, background .2s linear;

    &:hover {
        color: $russian-green;
        background: $laurel-green;
    }
}

@mixin two-column-grid {
    margin: 10px;
    display: grid;
    grid-template: auto / 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px 10px;
}