@import 'variables';

#projects {
    padding: 5em 0 2em 0;

    @include tablet {
        padding-bottom: 6em;
    }

    @include tablet {
        padding-top: 6em;
    }

    @include desktop {
        padding-top: 7em;
    }

    & h2 {
        margin: 1.25em;
    }
}

.project {

    .project-header {
        margin: 0 auto;

        @include desktop {
            max-width: 1200px;
            display: grid;
            grid-template: 1fr / 1fr 1fr;
            align-items: center;
            column-gap: 1.5em;
        }
    }

    .project-image {
        @include desktop {
            justify-self: end;
        }
    }

    & .project-image img, & .project-title {
        width: 90%;
        max-width: 400px;
    }
    
    & .project-image img {
        border: 3px solid $warm-gray;
    }

    & .project-title {
        margin: .75em auto;
        border-top: 1em solid $emerald;
        border-bottom: 1em solid $emerald;

        @include desktop {
            text-align: left;
            margin: 0;
            height: 14.875em;
            justify-self: start;
        }

        & a {
            text-align: center;
            display: inline-block;
            color: $warm-gray;
            text-decoration: none;
            border: 3px solid $light-gray;
            border-radius: 1em;
            margin: 1em 0;
            padding: .25em;
            width: 7em;
            @include coral-button-hover;

            &.live-link {
                margin-left: 2em;
            }

            &.view-link {
                width: 11em;
            }
        }

        .technologies {
            margin: 1em 0;
            
            & p {
                display: inline;
                color: $darker-coral;
                
                &:not(:first-child) {
                    margin-left: 1em;
                }
            }
        }
    
    }

    .project-description {
        line-height: 1.25;
        margin: 0 auto;
        width: 90%;
        text-align: left;
        max-width: 400px;
        
        @include desktop {
            margin: 1em auto;
            max-width: 780px;
        }

        & ul {
            list-style-position: inside;
            margin-bottom: 1em;

            @include desktop {
                font-size: 1.2em;
            }
        }

        & p {
            margin-bottom: 2.5em;

            @include desktop {
                font-size: 1.2em;
            }
        }

        & a {
            color: $darker-coral;
        }
    }
}