@import 'variables';

#skills {
    padding: 2em 0;

    & h2 {
        margin: .75em;
    }

    .skills-grid {
        max-width: 21.875em;
        margin: 1.5em auto 2.5em auto;
        display: grid;
        grid-template: auto / 1fr 1fr;
        grid-gap: 1em;

        @media screen and (min-width: 600px) {
            max-width: 37.5em;
            grid-template: auto / repeat(3, 1fr);
        }

        @include desktop {
            max-width: 65.625em;
            grid-template: auto / repeat(7, 1fr);
            grid-gap: 3em;
        }
    }

    .short-grid {
        margin-bottom: 0;

        @include desktop {
            grid-template: auto / repeat(4, 1fr);
        }
    }

    .skill-icon {
        width: 4em;
        height: 4em;
    }

    .skill-label {
        color: $mint;
        opacity: .85;
    }  
}
