$emerald: hsl(171, 67, 48);
$mint: hsl(159, 80, 78);
$coral: hsl(0, 80, 80);
$darker-coral: hsl(0, 80, 64);
$warm-gray: hsl(20, 6, 18);
$light-gray: hsl(0,0,40);
$off-white: hsl(0, 0, 95);

@mixin tablet {
    @media screen and (min-width: 765px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin coral-button-hover {
    &:hover, &:focus {
        color: #fff;
        background: $darker-coral;
        border-color: $coral;
    }
}