$mauve-taupe: hsl(339, 23, 51);
$puce: hsl(343, 33, 70);
$misty-rose: hsl(5, 48, 90);
$laurel-green: hsl(95, 20, 75);
$russian-green: hsl(122, 11, 38);
$warm-brown: hsl(355, 12, 28);
$pale-cream: hsl(23, 28, 96);
$puce-bg: url('/img/background-puce.png');
$misty-rose-bg: url('/img/background-misty-rose.png');