$pink: hsla(347, 81%, 87%, 1);
$yellow: hsla(47, 93%, 79%, 1);
$blue: hsla(191, 79%, 63%, 1);
$light-blue: hsla(191, 79%, 68%, 1);
$lighter-blue:hsla(191, 79%, 73%, 1);
$lightest-blue:hsla(191, 79%, 79%, 1);
$navy: hsla(202, 39%, 25%, 1);