@import "header-footer";
@import "hero";
@import "skills";
@import "projects";
@import "contact";

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    color: $warm-gray;
}

body, #hero, #projects {
    background: $off-white;
}

#hero {
    background: repeating-linear-gradient(
        175deg,
        #fafafa,
        #fff 10px,
        );
}

#projects {
    background: repeating-linear-gradient(
        -175deg,
        #fafafa,
        #fff 10px,
        );
}

#projects a[class*="link"], .technologies, p, ul {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

#skills, #contact {
    color: #fff;
    background: $warm-gray;
}

#projects, #skills, #hero, #contact {
    text-align: center;
    position: relative;
}

h2, h3, #hero p {
    font-size: 1.5em;

    @include desktop {
        font-size: 2em;
    }
}

h4 {
    font-size: 1.25em;

    @include desktop {
        font-size: 1.5em;
    }
}

.highlight {
    color: $darker-coral;
}

.divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    & svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 2.75em;

        @include tablet {
            height: 4.5em;
        }

        @include desktop {
            height: 6em;
        }
    }

    & .shape-fill {
        fill: $warm-gray;
    }
}

.top-divider {
    bottom: 0;
    transform: rotate(180deg);

    & svg {
        transform: rotateY(180deg);
    }
}

.bottom-divider {
    top: 0;
}