@import "variables";
@import "mixins";
@import "hero-about";
@import "skills";
@import "projects";
@import "contact";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Serif:wght@400;700&display=swap');

/* 
    - Style project card on larger devices
    - Make icons for GitHub, Codepen, and email
    - Style the contact section for small and large devices
    - Fix the background overflowing on the mobile nav menu
    - Make a horizontal nav bar on larger devices
*/

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: $warm-brown;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    line-height: 1.25;
}

header::before {
    content: '';
    background: $mauve-taupe;
    filter: drop-shadow(0px 1px 5px $warm-brown);
    width: 100%;
    height: 4.15em;
    position: fixed;
    z-index: 2;
}

nav {
    background: $mauve-taupe;
    width: 100%;
    height: 15.3em;
    padding-top: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform .3s;

    &.active {
        transform: translateY(0);
    }

    & .navMenu {
        text-align: center;
        list-style-type: none;

        li {
            padding: 0.75em;
            border-bottom: solid 1px $puce;

            a {
                color: white;
                font-size: 0.9em;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}
  
button#menu-toggle {
    color: $warm-brown;
    background: $laurel-green;
    font-size: 1.5em;
    text-align: center;
    width: 3.125rem;
    height: 3.125rem;
    padding: 8px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    border: solid 1px $warm-brown;
    border-radius: 3px;
    cursor: pointer;
}

main {
    text-align: center;
    padding-top: 4.85em;
}

main, #contact {
    background-color: $misty-rose;
    background: $misty-rose-bg;
}

#projects {
    background-color: $puce;
    background: $puce-bg;
}

#about, #skills, #projects, #contact {
    border-top: 7px solid hsla(355, 12, 28, .15);
}

h1, h2, h3, h4 {
    font-family: 'Noto Serif', serif;
}

h2, h3 {
    padding: 0 1.2em 0 1.2em;
}

h2 {
    @media screen and (min-width: 576px) {
        font-size: 2em;
    }
}

.highlight {
    color: $russian-green;
    font-weight: 700;
}

.round-section-header {
    @include icon-circles;
}

.technologies {
    @extend .highlight;
    @include two-column-grid;
}
